# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.main.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Andrey\OneDrive\Рабочий стол\Programmirovanie\C#\Labaratornie\fraction\main\.idea\.idea.main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
